{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block meta %}Connexion{% endblock %}

{% block mainTitle %}<h1>Connexion</h1>{% endblock %}

{% block body %}

<h2>Formulaire de connexion</h2>
<div class="section">
    <form method="post">
        {% if error %}
        <p class="msg-error">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
        {% endif %}
        
        <p>Veuillez vous connecter pour accéder à l'application<br>
        Pas de compte ? <a href="{{ path('app_register') }}">S'inscrire</a></p>
    
        <div class="form-row-small">
            <label for="inputEmail">Email *</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-input"
                autocomplete="email" required autofocus>    
        </div>
        <div class="form-row-small">
            <label for="inputPassword">Mot de passe *</label>
            <input type="password" name="password" id="inputPassword" class="form-input" autocomplete="current-password"
                required>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button class="btn btn-form" type="submit">
            Connexion
        </button>
    </form>
</div>

{% endblock %}