/* Basics */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

:root {
    --navColor: #7033FF;
    --navSelected: #8E5EFF;
    --liens: #AF8CFF;
    --liensNav: #FFFFFF;
    --mainBg: #F6F5FA;
    --sectionBg: #FFFFFF;
    --textColor: #767092;
    --tableColor: #FAF8FD;
    --tableTextHeader: #636777;
    --tableHeaderBorder: #F4F2FA;
    --tableCellBorder: #FAF8FD;
    --btnColor: #FF9067;
    --btnHover: #b65836;
    --btnContent: #FFFFFF;
    --formBorder: #E0DDE9;
    --textError: red;
}

a {
    color: var(--liens);
    text-decoration: none;
}

p {
    text-align: center;
    color: var(--textColor);
    line-height: 25px;
}

.btn {
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: var(--btnColor);
    color: var(--btnContent);
    border-radius: 20px;
    cursor: pointer;
    padding: 10px;
    transition: all 0.2s ease-in-out;
    font-size: 16px;
}

.btn:hover {
    background-color: var(--btnHover);
}

.btn-center {
    margin: auto;
}

.btn-form {
    border: none;
    width: fit-content;
    padding-inline: 20px;
    margin-inline: auto;
}

.btn-large {
    width: fit-content;
    padding-inline: 20px;
    margin-inline: auto;
    margin-bottom: 20px;
}

.btn svg {
    fill: var(--btnContent);
    width: 20px;
    height: 20px;
}

.btn-no-border {
    border: none;
}

li {
    list-style-type: none;
    color: var(--textColor);
    line-height: 20px;
}

/* Pagination */

.pagination {
    display: flex;
    margin-top: 20px;
    padding: 5px;
    gap: 15px;
    margin-inline: auto;
    width: fit-content;
    border: 3px solid var(--tableCellBorder);
    border-radius: 25px;
}

.first,
.previous,
.next,
.last,
.page {
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: var(--btnColor);
    color: var(--btnContent);
    border-radius: 20px;
    padding: 10px;
    transition: all 0.2s ease-in-out;
}

.current {
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: var(--mainBg);
    color: var(--textColor);
    border-radius: 20px;
    padding: 10px;
    transition: all 0.2s ease-in-out;
}

.pagination a {
    color: var(--liensNav);
    text-decoration: none;
}

/* Calendrier */

.fc-button-group {
    display: none !important;
}

/* Hiéarchie */

h1 {
    text-align: center;
    color: var(--textColor);
    font-size: 40px;
    font-weight: initial;
    padding-bottom: 20px;
}

h2 {
    text-align: center;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: initial;
    padding: 15px 0px;
    color: var(--textColor);
}

/* Utilisateur */

.user {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: var(--mainBg);
    border-bottom-left-radius: 50px;
    width: 300px;
    height: 130px;
    top: 0px;
    right: 0px;
    font-size: 20px;
    color: var(--textColor);
}

.user .avatar {
    border-radius: 100px;
    border: 4px solid var(--textColor);
    width: 75px;
    padding-top: 10px;
}

/* Navigation */

nav {
    display: none;
}

/* Tableaux */

table {
    width: 100%;
    border-spacing: 0px 1px;
}

thead {
    display: none;
}

tr {
    height: 50px;
}

td {
    font-size: 14px;
    color: var(--textColor);
    padding-inline: 10px;
}

td:first-child {
    border-radius: 25px 0px 0px 25px;
    border: solid var(--tableCellBorder);
    border-width: 3px 1px 3px 3px;
}

td:last-child {
    border-radius: 0px 25px 25px 0px;
    border: solid var(--tableCellBorder);
    border-width: 3px 3px 3px 1px;
}

td:not(:first-child):not(:last-child) {
    border: solid var(--tableCellBorder);
    border-width: 3px 1px 3px 1px;
}

.width30 {
    width: 30%;
    min-width: 100px;
}



.width25 {
    width: 25%;
}

.width20 {
    width: 20%;
}

.width15 {
    width: 15%;
}

.width10 {
    width: 10%;
}

.width5 {
    width: 5%;
}

.responsive-table-hide {
    display: none;
}

.responsive-show {
    display: initial;
}

.responsive-actions {
    width: 50px;
}

/* Formulaires */

form {
    color: var(--textColor);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-row {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-row>div,
.form-col>div {
    width: 100%;
}

.form-duree {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.input-duree {
    width: 100%;
}

input[type=text],
input[type=email],
input[type=password],
input[type=number],
input[type=date],
select {
    border: 1px solid var(--formBorder);
    color: var(--textColor);
    height: 30px;
    border-radius: 5px;
    padding-inline: 5px;
    transition: all 0.2s ease-in-out;
}

input[type=checkbox] {
    border: 1px solid var(--formBorder);
    border-radius: 5px;
    width: 20px;
    height: 20px;
    transition: all 0.2s ease-in-out;
}

input:hover,
input:focus,
select:hover,
select:focus {
    border: 1px solid var(--navSelected);
    outline: none;
}

.form-input {
    display: block;
    width: 100%;
}

.form-input-margin {
    margin-bottom: 20px;
}

.form-checkbox {
    margin-left: 10px;
}

.checkmark>div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.msg-error {
    color: var(--textError);
}

/* Classes */

.main-container {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 100%;
}

.main-content {
    width: 100%;
    margin: 150px 10px 0px 10px;
}

.main-article {
    background-color: var(--mainBg);
    border-radius: 50px;
    padding-bottom: 25px;
    margin-bottom: 15px;
}

.sections {
    display: block;
}

.section {
    background-color: var(--sectionBg);
    border-radius: 50px;
    padding: 20px 10px 20px 10px;
    margin: 0px 25px 0px 25px;
}

.center {
    text-align: center;
}

.actions-multiple {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.formateur {
    padding-bottom: 20px;
}

/* tablettes et ordinateurs */
@media only screen and (min-width: 768px) {

    /* Hiéarchie */

    h1 {
        text-align: left;
        max-height: 65px;
    }

    /* Calendrier */

    .fc-button-group {
        display: inline-flex !important;
    }
    
    /* Tableaux */

    thead {
        display: table-header-group;
        background-color: var(--tableColor);
        color: var(--tableTextHeader);
        font-size: 16px;
    }
    
    th {
        padding-inline: 10px;
        text-align: left;
        font-weight: initial;
    }
    
    th:first-child {
        border-radius: 25px 0px 0px 25px;
        border-right: 1px solid var(--tableHeaderBorder);
    }
    
    th:last-child {
        border-radius: 0px 25px 25px 0px;
        border-left: 1px solid var(--tableHeaderBorder);
    }
    
    th:not(:first-child):not(:last-child) {
        border-left: 1px solid var(--tableHeaderBorder);
        border-right: 1px solid var(--tableHeaderBorder);
    }

    .responsive-table-hide {
        display: table-cell;
    }

    .responsive-show {
        display: none;
    }

    .responsive-actions {
        width: 10%;
    }

    /* Formulaires */

    form {
        display: inherit;
        gap: 0px;
    }

    .form-row {
        display: flex;
        padding-bottom: 20px;
        column-gap: 20px;
        flex-direction: row;
        row-gap: 00px;
        width: 80%;
        margin: auto;
    }
    
    .form-row-small {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
        column-gap: 20px;
        width: 50%;
        margin: auto;
    }
    
    .form-row>div,
    .form-col>div {
        width: 100%;
    }

    .form-col {
        display: flex;
        width: 50%;
    }

    /* Navigation */

    nav {
        display:inline;
        margin-top: 80px;
        min-height: calc(100vh - 80px);
    }

    nav ul {
        width: 200px;
        padding-top: 100px;
        border-top-right-radius: 85px;
        display: flex;
        flex-direction: column;
        background-color: var(--navColor);
        min-height: 100%;
    }

    nav ul li {
        height: 129px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: var(--liensNav);
        transition: all 0.2s ease-in-out;
    }

    nav ul li a {
        display: flex;
        flex-direction: column;
    }

    nav ul li svg {
        height: 60px;
        fill: var(--liensNav);
    }

    nav ul li:hover,
    .selected {
        background-color: var(--navSelected);
    }

    /* Classes */

    .sections {
        display: flex;
    }

    .section-col-40 {
        width: 40%;
    }
    
    .section-col-60 {
        width: 60%;
    }

    .main-content {
        margin: 80px 50px 0px 50px;
    }

    .actions-multiple {
        flex-direction: row;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .section {
        padding: 20px;
    }

}