{% extends 'base.html.twig' %}

{% block title %}Ajouter un stagiaire{% endblock %}

{% block body %}

<h1>{% if edit %}Editer le stagiaire {{ stagiaire }}{% else %}Ajouter un stagiaire{% endif %}</h1>
{{ form(formAddStagiaire) }}
{% endblock %}
