{% extends 'base.html.twig' %}

{% block title %}Ajouter un formateur{% endblock %}

{% block body %}

<h1>{% if edit %}Editer le formateur {{ formateur }}{% else %}Ajouter un formateur{% endif %}</h1>

{{ form(formAddFormateur) }}

{% endblock %}